body {
    background-color: #2C3333;
}
#root {
    height: 100%;
}

.sidebar {
    background-color: #2E4F4F;
    position: fixed;
    height: 100%;
    z-index: -1;
}

h1 {
    color: #CBE4DE;
}

.green-text {
    color: #007e7e;
}

.red-text {
    color: #ED2B2A;
}